.Post {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.64);
    border-radius: 1rem;
    gap: 1rem;
}

.post > img {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}

.post > span {
    font-size: 12px;
    color: rgba(36, 45, 73,.65);
}

.post_reactions {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.post_reactions img:hover {
    cursor: pointer;
    transform: translateY(-3px);
}
/* MEDIA QUERIES 
320px - 480px Mobile Phones
481px - 768px Tablets, Ipads
769px - 1024px Small Screen, Laptops
1025px - 1200px Desktop, Large screens
1201px - > TV, Extralarge screens

*/










    /* .post > span {
        font-size: 12px;
        color:rgba(36, 45, 73, .65)
    }


.post__reactions {
    display: flex;
    align-items: flex-start;

} */

/* .post__reactions img: hover{
    cursor: pointer;
    transform: translateY(-3px)
} {
} */